SimpleITK==2.4.0
numpy==1.26.4
# pyradiomics==3.1.0
pandas==1.2.3
matplotlib
tensorflow_decision_forests==1.8.1
scikit-learn
xgboost
monai
torchio
nibabel
tensorflow==2.15.1
tensorflow_datasets